.banner {
  width: 100%;
  height: 200px;
  background: linear-gradient(90deg, #2290FF 0%, #7DBCFA 63.94%, #B9DBFF 100%);
}
.banner__title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 80px;
  padding-left: 80px;
}

.contactWrap {
  width: 1000px;
  height: 1600px;
  border-radius: 42px;
  background: #0766AD;
  margin: 100px auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.contactWrap #label {
  font-size: 24px;
  color: #fff;
}
.contactWrap span {
  color: #FF0505;
  font-size: 20px;
}
.contactWrap .contact__input {
  width: 840px;
  height: 80px;
  margin: 10px 0 0 10px;
  padding-left: 20px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #F2F2F2;
  display: flex;
}
.contactWrap .detail__input {
  width: 840px;
  height: 240px;
  margin: 10px 0 0 20px;
  font-size: 24px;
  border-radius: 10px;
  background-color: #F2F2F2;
  display: flex;
}

.privacy-consent {
  text-align: center;
}
.privacy-consent .privacy-consent__notice {
  font-size: 20px;
  color: #fff;
}
.privacy-consent .privacy-consent__input {
  width: 20px;
  height: 20px;
}
.privacy-consent .privacy-consent__label {
  font-size: 20px;
  color: #fff;
}

.title {
  text-align: center;
  letter-spacing: 0.1em;
}
.title h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 5rem;
}
.title p {
  font-size: 2rem;
  color: #FFFFFF;
  margin-bottom: 2rem;
}

.imgWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.imgWrap__step1-image {
  width: 500px;
  height: auto;
}
.imgWrap__step2-image {
  width: 360px;
  height: auto;
}
.imgWrap__step3-image {
  width: 360px;
  height: auto;
}
.imgWrap__step4-image {
  width: 400px;
  height: auto;
}

.step-item {
  position: relative;
  z-index: 1;
}
.step-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  z-index: 10px;
  color: #333;
}

.banner {
  width: 100%;
  height: 200px;
  background: linear-gradient(90deg, #2290FF 0%, #7DBCFA 63.94%, #B9DBFF 100%);
}
.banner__title {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 80px;
  padding-left: 80px;
}

.OverviewWrap {
  padding: 40px 10px;
  margin-left: 30px;
}
.OverviewWrap h2 {
  font-size: 30px;
  font-weight: bold;
}
.OverviewWrap__subhead {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
.OverviewWrap__content {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding-top: 30px;
}
.OverviewWrap__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}
.OverviewWrap__table th, .OverviewWrap__table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  text-align: left;
}
.OverviewWrap__table th {
  width: 25%;
  color: #333;
  font-weight: normal;
}
.OverviewWrap__image {
  flex-shrink: 0;
  max-width: 400px;
  width: 100%;
}
.OverviewWrap__image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.accessWrap {
  padding: 40px 10px;
  margin-left: 30px;
}
.accessWrap h2 {
  font-size: 30px;
  font-weight: bold;
}
.accessWrap__subhead {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
.accessWrap__content {
  margin: 30px;
}
.accessWrap__text {
  font-size: 18px;
}

.historyWrap {
  padding: 40px 10px;
  margin-left: 30px;
}
.historyWrap h2 {
  font-size: 30px;
  font-weight: bold;
}
.historyWrap__subhead {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
.historyWrap__content {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.historyWrap__content img {
  display: inline-block;
  width: auto;
  max-width: none;
  height: auto;
}
.historyWrap__time {
  display: flex;
  gap: 30px;
}
.historyWrap__timeEvent {
  font-size: 16px;
  padding-right: 10px;
  border-right: #2290FF dotted 1px;
}
.historyWrap__month {
  color: #51BAFF;
}

.customerWrap {
  padding: 40px 10px;
  margin-left: 30px;
}
.customerWrap h2 {
  font-size: 30px;
  font-weight: bold;
}
.customerWrap__subhead {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}
.customerWrap__text {
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.customerWrap__text span {
  color: #2290FF;
  font-size: 18px;
}

.securityWrap {
  background-color: #D7E7FF;
  height: auto;
  padding-bottom: 30px;
}
.securityWrap h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 40px 10px 0;
  margin-left: 30px;
}
.securityWrap__subhead {
  font-size: 20px;
  text-align: center;
  color: #666;
  margin-bottom: 30px;
  padding: 0 10px;
  margin-left: 30px;
}
.securityWrap__text {
  width: 100%;
  padding-left: 200px;
  font-size: 16px;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.securityWrap__promise {
  font-size: 16px;
  padding-left: 240px;
}
.securityWrap__item {
  font-size: 16px;
  padding-left: 230px;
  line-height: 50px;
}
.securityWrap__item span {
  background-color: #2290FF;
  color: #fff;
  padding: 2px;
  margin-right: 8px;
}

footer {
  margin-top: 170px;
}
footer nav {
  padding: 0 5%;
}

.footer_wrap {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) repeat(4, 1fr);
  width: 100%;
  gap: 5rem;
  padding: 40px 0;
}

.col_logo {
  display: flex;
  margin-right: 20px;
  width: 100%;
}
.col_logo p {
  color: #005EA5;
  font-size: 1.6rem;
  background: #F6FDFF;
  padding: 10px 20px;
  box-shadow: 1px 4px 4.1px 0px rgba(60, 167, 205, 0.25);
  margin-top: 40px;
  width: 200px;
}
.col_logo button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 68px;
  color: #fff;
  font-size: 2.4rem;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, #4D7BB3, #51A2C3, #56C8D2, #58E1DD);
  margin-top: 40px;
}
.col_logo button::before {
  display: inline-block;
  content: "";
  width: 33px;
  height: 33px;
  background-image: url("../img/mail.png");
  background-size: cover;
}

.col_group {
  display: contents;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 30px;
}
.col h4 {
  font-size: 2rem;
}
.col ul li {
  padding-top: 40px;
}
.col ul li a {
  color: #000;
  font-size: 2rem;
}

.footer_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-right: 5%;
  margin-left: auto;
  margin-top: 110px;
  margin-bottom: 20px;
}
.footer_info p {
  font-size: 2rem;
  font-weight: bold;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 25px 20px;
}
.address p {
  font-size: 1.6rem;
}
.address p:last-child {
  line-height: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  background: rgba(121, 174, 255, 0.3);
}
header h1 a img {
  width: 200px;
  height: auto;
  padding-left: 40px;
}
header nav {
  display: flex;
  align-items: center;
  padding-right: 40px;
}
header nav ul {
  display: flex;
}
header nav ul li {
  padding-right: 40px;
}
header nav ul li a {
  color: #000;
  font-size: 2rem;
}
header nav .button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 235px;
  height: 55px;
  color: #fff;
  font-size: 2rem;
  background: linear-gradient(to right, #4D7BB3 0%, #51A2C3 53.37%, #56C8D2 89.9%, #58E1DD 100%);
  border-radius: 40px;
}
header nav .button span {
  display: inline-block;
  width: 33px;
  height: 33px;
  background-image: url("../../img/mail.png");
  background-size: cover;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
