.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background: #fff;

    &__logo img {
        width: 200px;
        height: auto;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 36px;

        &-list {
            display: flex;
            gap: 2rem;
        }

        &-item a {
            color: #0766AD;
            font-size: 1.8rem;
            font-weight: 500;
            text-decoration: none;
            padding: 0.5em 1.2em;
            border-radius: 6px;
        }
    }
}

// ----- BUTTON -----
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 235px;
    height: 55px;
    color: #fff;
    font-size: 2rem;
    background: linear-gradient(to right, #4D7BB3 0%, #51A2C3 53.37%, #56C8D2 89.9%, #58E1DD 100%);
    border-radius: 40px;


    &--contact {
        font-size: 2rem;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 33px;
        height: 33px;
        background-image: url("../../img/mail.png");
        background-size: cover;
    }

}